@using IExpro.Core.Models;
@model IEnumerable<MenuModel>
@{
    string rootId = "menu-" + Model.FirstOrDefault().ParentId;
}
<ul class="nav nav-third-level">
    @foreach (var menuitem in Model)
    {
        <li>

            @if (menuitem.MenuList.Count() > 0)
            {<a class='second-level-heading' href="@menuitem.MenuUrl">
                    <span class='submenu-title'>@menuitem.MenuName</span>
                    <span class='fa arrow  text-white'></span>
                </a>
                Html.RenderPartial("_subMenuItems", menuitem.MenuList);

            }
            else
            {
                <a class='second-level-heading' href="@menuitem.MenuUrl">
                    <span class='submenu-title'>@menuitem.MenuName</span>

                </a>
            }
        </li>
    }
</ul>
