@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <!--BEGIN TITLE & BREADCRUMB PAGE-->
    <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb hidden-sm">
        <div class="page-header pull-left">
            <div class="page-title">
                Navigation Master    <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <!--add header name here-->
            </div>
        </div>
    </div>











    <div class="page-content">
        <div class="card">
            <div class="card-body">
                @{Html.RenderAction("MenuList", "Navigation");}


            </div>
        </div>
    </div>
    <!--END TITLE & BREADCRUMB PAGE--><!--BEGIN CONTENT-->
